
    .h1 {

        position: absolute;
        top: min(478%,478px);
        left: min(785%,785px);
        font-size: 27px;
        z-index: 2;
        white-space: nowrap;
        font-family: georgia,serif

     }

     .h1 {

         color: black;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;        
         text-shadow:

         0 0 5px  white,
         0 0 10px white,
         0 0 20px white;

         display: flex;
         gap: 5px;
         display-direction: row;
         align-items: center;
         justify-content: center;
         flex-wrap: nowrap;
         text-wrap: nowrap;

     }

   .h3 {

    position: absolute;
    z-index: 2;
    top: -1120%;
    left: 14%;
    text-wrap: nowrap;
    font-size: min(130%,100px);
    font-family: georgia,serif;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    
    }

    .h3 {

     color: white;
    -webkit-text-stroke-width: 0.1px;
    -webikt-text-stroke-color: white;
     text-shadow:

     0 0 5px  black,
     0 0 10px white,
     0 0 20px black;

     display: flex;
     display-direction: row;
     gap: 5px;

    }

   .h4 {

      position: absolute;
      z-index: 2;
      top: -860%;
      left: 14%;
      font-size: min(114%,100px);
      white-space: nowrap;
      font-family: georgia,serif
      
   }

   .h4 {

       color: white;
      -webkit-text-stroke-width: 0.1%;
      -webkit-text-stroke-color: white;
       text-shadow:

       0 0 5px  black,
       0 0 10px white,
       0 0 20px black;

       display-direction: row;
       align-items: center;
       justify-content: center;
       flex-wrap: nowrap;
       text-wrap: nowrap;
       gap: 5px;

   }

   .h5 {

      position: absolute;
      z-index: 2;
      top: -735%;
      left: 106%;
      font-size: 40px;
      white-space: nowrap;
      font-family: georgia,serif

   }
   
   .h5 {

      display-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      text-wrap: nowrap;
      gap: 5px;

   }

   .h5 {

      color: white;
      -webkit-text-stroke-width: 0.0.1px;
      -webkit-text-stroke-color: white;
      text-shadow:
      0 0 5px  black,
      0 0 10px white,
      0 0 20px black;

   }

   .h6 {
     
      position: absolute;
      z-index: 2;
      top: -530px;
      left: 106%;
      font-size: 48px;
      white-space: nowrap;
      font-family: georgia,serif
          
   }

   .h6 {

      display-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      text-wrap: nowrap;
      gap: 5px; 
   
   }
   .h6 {

      color: white;
      -webkit-text-stroke-width: 0.0.1px;
      -webkit-text-stroke-color: white;
      text-shadow:
      0 0 5px  black,
      0 0 10px white,
      0 0 20px black;

   }

   .h7 {
     
      z-index: 2;
      font-size: 45px;
      white-space: nowrap;
      font-family: georgia,serif 
      
   }

   .h7 {

      position: absolute;
      top: -226px;
      display-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      text-wrap: nowrap;
      gap: 5px;
      left: 106%;

   }

   .h7 {

       color: white;
      -webkit-text-stroke-width: 0.0.1px;
      -webkit-text-stroke-color: white;
      text-shadow:
      0 0 5px black,
      0 0 10px white,
      0 0 20px black;

   }

   .h8 {

      position: absolute;
      z-index: 2;
      top: 30px;
      left: 106%;
      font-size: 35px;
      white-space: nowrap;
      font-family: georgia,serif

   }

   .h8 {

      display-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      text-wrap: nowrap;
      gap: 5px;

   }

   .h8 {

      color: white;
      -webkit-text-stroke-width: 0.0.1px;
      -webkit-text-stroke-color: white;
      text-shadow:
      0 0 5px black,
      0 0 10px white,
      0 0 20px black;

   }

   .h9 {

      position: absolute;
      z-index: 2;
      top: 281px;
      left: 106%;
      font-size: 35px;
      white-space: nowrap;
      font-family: georgia,serif

   }

   .h9 {

      display-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      text-wrap: nowrap;
      gap: 5px;

   }

   .h9 {

       color: white;
      -webkit-text-stroke-width: 0.0.1px;
      -webkit-text-stroke-color: white;
       text-shadow:
      0 0 5px  black,
      0 0 10px white,
      0 0 20px black;

   }

   .h10 {

      position: absolute;
      z-index: 2;
      top: -770px;
      left: 550%;
      font-size: 36px;
      white-space: nowrap;
      font-family: georgia,serif

   }

   .h10 {

      color: white;
      -webkit-text-stroke-width: 0.0.1px;
      -webkit-text-stroke-color: white;
      text-shadow:
      0 0 5px  black,
      0 0 10px white,
      0 0 20px black;
      gap: 5px;
      
   }

   .p {

      position: absolute;
      z-index: 2;
      top: -700px;
      left: 470%;
      font-size: 30px;
      font-family: georgia,serif

   }

   .p {

      color: white;
      -webkit-text-stroke-width: 0.0.1px;
      -webkit-text-stroke-color: white;
       text-shadow:
      0 0 5px  black,
      0 0 10px white,
      0 0 20px black;
      gap: 5px;
      width: 720px;
      height: 300px;

   }

     .video {
           
        video: url("src/video do aldemir no teatro.mp4");
        position: absolute;
        top: 1.3%;
        left: 18%;
        z-index: 1;
        display: flex;
        gap: 5px;
        display-direction: row;

     }

     .button {

      img: url("src/Botão do youtube preto neon.png");
      position: absolute;
      cursor: pointer;
      z-index: 2;
      display: flex;
      gap: 5px;

     }

     .button {
      
      img: url("src/Botão do youtube preto neon.png");
      background-color: white;
      box-shadow:
      0 0 5px  black,
      0 0 10px black,
      0 0 20px black;
      border-radius: 30px;
      
     }

     .button {

      transition: transform 0.5s ease;
      display: flex;
      gap: 2px;
      display-direction: row;

     }

      .button {

      img: url("src/Botão preto whatsapp.png");
      position: absolute;
      top: 253px;
      left: 1px;
      cursor: pointer;
      z-index: 2;
      align-justify: center;
      display: flex;
      gap: 5px;

     }

      .button {
      
      img: url("src/Botão preto whsatsapp.png");
      background-color: white;
      box-shadow:
      0 0 5px  black,
      0 0 10px black,
      0 0 20px black;
      border-radius: 30px;
      
     }

      .button {

      img: url("src/A logo da loja sem fundo.png");
      position: absolute;
      cursor: pointer;
      z-index: 2;
      display: flex;
      gap: 5px;

     }

      .button {
      
      img: url("src/A logo da loja sem fundo.png");
      background-color: white;
      box-shadow:
      0 0 5px  black,
      0 0 10px black,
      0 0 20px black;
      border-radius: 30px;
      
     }

      .button {

      img: url("src/A logo da loja sem fundo.png");
      position: absolute;
      cursor: pointer;
      z-index: 2;
      display: flex;
      gap: 5px;

      }

      .button {

      img: url("src/Logo do instagram de luxo.png");
      position: absolute;
      cursor: pointer;
      z-index: 2;
      display: flex;
      gap: 5px;

      }

      .button {
      
      img: url("src/Logo do instagram de luxo.png");
      background-color: white;
      box-shadow:
      0 0 5px  black,
      0 0 10px black,
      0 0 20px black;
      border-radius: 30px;
      
     }

      .button {

      img: url("src/Biblioteca digital.png");
      position: absolute;
      cursor: pointer;
      z-index: 2;
      display: flex;
      gap: 5px;

      }

     .button {
      
      img: url("src/Biblioteca digital.png");
      background-color: white;
      box-shadow:
      0 0 5px  black,
      0 0 10px black,
      0 0 20px black;
      border-radius: 30px;
      
     }

      .button {

      img: url("src/Botão do youtube preto neon.png");
      position: absolute;
      cursor: pointer;
      z-index: 2;
      display: flex;
      gap: 5px;

      }

    .background-img {

        background-img: url("src/background com bunner.png");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        z-index: 1;

    }

    .img-Clave {
        
        img: url("src/Clave de sol de luxo.png");
        position: absolute;
        z-index: 2;
        top: -1520px;
        left: min(-7%,5px);
        gap: 5px;

    }